@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   html, body{
        @apply h-full w-full
   }
   ion-icon {
    @apply text-pink-500 text-5xl
   }
   h2 {
    @apply text-3xl font-medium tracking-wide
   }
   h3 {
    @apply text-xl tracking-wide
   }
}


@layer components {

    #__next {
        @apply w-full h-full 
    }

    /* GLOBAL */

    .alinhamento {
        @apply px-0 sm:px-32 2xl:px-64 
    }

    /* BUTTONS */
    .btn-carousel {
        @apply w-40 h-auto px-4 py-2 space-x-4
        flex justify-center items-center
        text-white rotate-[270deg] text-lg 2xl:text-xl
        hover:text-green-500
    }

    .btn-action {
        @apply w-40 h-auto px-4 py-2 
        font-medium tracking-wide
        text-center text-white hover:text-green-500
        hover:bg-white
        border border-white hover:border-none
    }

    /* NAV BAR*/
    .capao-nav {
        @apply w-full h-auto fixed top-0 z-50
        flex flex-col bg-black bg-opacity-40 
        text-white font-medium text-xl tracking-wide
        backdrop-blur-md
    }  
    .social-nav {
        @apply w-full h-auto py-2
        flex justify-center md:justify-end items-center
        border-b border-gray-500
    }
    .social-icons {
        @apply flex flex-row space-x-8 px-7
    } 
    .menu-nav {
        @apply w-full h-auto px-0 sm:px-32 2xl:px-64 space-x-20
        flex justify-center sm:justify-end
    }
    .menu-nav-btn {
        @apply hidden w-full capitalize 
        md:flex justify-end
    }
    .menu-nav-btn a {
        @apply flex justify-end items-start text-start align-top p-6
        hover:text-[#0ac775] duration-500 hover:scale-125 
    }
    .hamburger-btn {
        @apply flex items-center justify-center md:hidden 
    }

    /* SHOW CASE */
    .showcase {
        @apply w-full h-full 
    }
    .carousel {
        @apply w-full h-full z-0 relative
    }
    .carousel-navegation {
        @apply w-auto h-auto absolute top-72 right-0 2xl:top-96 z-20
        flex flex-col justify-center items-end
        space-y-40
    }
    .carousel-img {
        @apply w-screen h-full
        blur-[2px] z-0 
    }
    .atividades {
        @apply w-full h-auto py-16
        flex flex-col justify-center items-center
        bg-white
    }
    .atividades h2 {
        @apply py-16
    }
    .atividades ul {
        @apply w-full h-full
        flex justify-center items-center
    }
    .atividades ul li {
        @apply w-full h-full
        flex flex-col justify-center items-center
    }
    .atividades-name {
        @apply underline
    }
    .atividades-images {
        @apply w-60 h-60 rounded-full 
    }
    .action {
        @apply w-full h-full z-10 absolute top-0 
        flex flex-col justify-center items-center
        backdrop-brightness-90 bg-black/10
    }
    .action-wrapper {
        @apply w-full h-auto px-0 sm:px-32 2xl:px-64
        mb-20 
    }
    .action-wrapper h2 {
        @apply py-4 text-5xl font-bold text-white
    }
    .action-wrapper p {
        @apply w-2/3 py-4 text-xl font-medium text-white
    }
    .action-wrapper div {
        @apply w-full h-auto mt-6 space-x-6 
        flex justify-start items-center 
    }
}