@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans m-0 overflow-hidden text-white
  }
  h1{
    @apply text-4xl sm:text-7xl font-bold
  }
  h2{
    @apply text-2xl sm:text-3xl font-semibold
  }
  h3{
    @apply text-base sm:text-xl font-medium text-terracota-50
    font-mono
  }
  iconify-icon {
    @apply inline-block stroke-2
  }
}

@layer components {

  /* INPUTS */
  .inputEmail {
    @apply h-10 flex relative 
  }
  .inputEmail label {
    @apply h-full p-2 absolute left-0 flex justify-center items-center
  }
  .inputEmail input {
    @apply w-full px-12 placeholder-terracota-100 placeholder:font-mono
    border border-terracota-100 rounded-sm bg-transparent 
    focus:ring-1 focus:ring-white focus:outline-none 
    focus:border-none
  }

  /* BUTTONS */
  .hamburger {
    @apply h-1 w-8 my-1 bg-white ease-in-out duration-500
  }
  .btnDefault {
    @apply h-10 sm:h-12 px-8 sm:px-12 flex justify-center items-center
    bg-transparent border border-terracota-50 text-terracota-50
    hover:bg-folha-50 hover:text-terracota-100 hover:border-none
    font-medium font-mono cursor-pointer
    transition ease-in duration-300
  }
  .btnSubmit {
    @apply w-full h-10 flex justify-center items-center
    border border-terracota-100
    hover:border-white hover:text-white
    active:bg-pink-600 active:ease-in-out active:delay-300
  }
  /* LAYOUT */
  .section-format {
    @apply w-auto h-screen px-2 sm:px-16 py-4 sm:py-8
  }
  .gradiante-terracota {
    @apply bg-gradient-to-bl from-terracota-100 to-[#090b0a] to-40%
  }
  .gradiante-metal {
    @apply bg-gradient-to-r from-slate-300 to-slate-500
  }
  .point-solid-black {
    @apply w-1.5 h-1.5 rounded-full bg-slate-600 shadow-xl shadow-cyan-500
  }
  .point-outline-black {
    @apply w-2 h-2 rounded-full border border-slate-800
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome */
  ::-webkit-scrollbar { 
    display: none; 
  }

}
